border(borders-width)
    border : 1px solid color-borders
    border-width : borders-width

user-select(us-value)
    -webkit-user-select: us-value;
    -moz-user-select: us-value;
    -ms-user-select: us-value;
    user-select: us-value;