@import typo
@import colors
@import mixins
@import vars

*
    margin  : 0
    padding : 0

html, body
    height : 100%

body
    font-family : font-default-family
    font-size : font-default-size
    font-weight : font-default-weight
    color : color-text
    background-color : color-background
    overflow-x : hidden

// default styles

a 
    color : color-text

// headings

h1
    font-family : font-headings
    font-size : 35px
    font-weight : 400
    line-height : 1em
    letter-spacing : 0.5px

// layout

.container
    min-height : 100%

.top
    height : 60px
    user-select(none)
    border(0 0 1px 0)

    .logo
        cursor : pointer
        width : 60px
        height : 100%
        float : left
        background-color : color-background-boxes
        border(0 1px 0 0)

        &:hover
            opacity : 0.9

        &:active
            opacity : 0.5

        svg
            position : relative
            display : block
            margin : 0 auto
            top : 10px
            pointer-events : none

    nav
        a
            position : relative
            display : block
            float : left
            line-height : 60px
            padding : 0 20px
            text-transform : uppercase
            text-decoration : none
            font-size : font-default-size-ucase
            border(0 1px 0 0)

            &:hover
                background-color : color-background-boxes

            &.active
                background-color : color-background-boxes

                &::after,
                &::before
                    content : ''
                    position : absolute
                    bottom : -10px
                    left : 10px
                    width : 0
                    height : 0
                    border-style: solid;
                    border-width: 10px 10px 0 0;
                    border-color: color-borders transparent transparent transparent;

                &::after
                    bottom : -8px
                    left : 11px
                    border-width: 9px 9px 0 0;
                    border-color: white transparent transparent transparent;

.title
    padding : space * 2
    background-color : color-background-boxes
    border(0 0 1px 0)