* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  color: #383838;
  background-color: #f5f5f5;
  overflow-x: hidden;
}
a {
  color: #383838;
}
h1 {
  font-family: 'Roboto Slab';
  font-size: 35px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 0.5px;
}
.container {
  min-height: 100%;
}
.top {
  height: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #e0e0e0;
  border-width: 0 0 1px 0;
}
.top .logo {
  cursor: pointer;
  width: 60px;
  height: 100%;
  float: left;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-width: 0 1px 0 0;
}
.top .logo:hover {
  opacity: 0.9;
}
.top .logo:active {
  opacity: 0.5;
}
.top .logo svg {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 10px;
  pointer-events: none;
}
.top nav a {
  position: relative;
  display: block;
  float: left;
  line-height: 60px;
  padding: 0 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  border-width: 0 1px 0 0;
}
.top nav a:hover {
  background-color: #fff;
}
.top nav a.active {
  background-color: #fff;
}
.top nav a.active::after,
.top nav a.active::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #e0e0e0 transparent transparent transparent;
}
.top nav a.active::after {
  bottom: -8px;
  left: 11px;
  border-width: 9px 9px 0 0;
  border-color: #fff transparent transparent transparent;
}
.title {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-width: 0 0 1px 0;
}
