<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Condensed:400,300|Roboto+Slab:400,100' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel='stylesheet' type='text/css'>
</head>
<body>
    <section class="container">
        {{!-- top --}}
        <section class="top">
            <div class="logo">
                {{{ logo }}}
            </div>
            <nav>
                <a href="#" class="active">players</a>
                <a href="#">teams</a>
                <a href="#">matches</a>
                <a href="#">competitions</a>
            </nav>
        </section>
        <header class="title">
            <h1>Players</h1>
        </header>
        
    </section>
</body>
</html>